<nav class="navbar" id="navbar">
      <div class="nav-container">
        <a href="index.html" class="logo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/616/616408.png"
            alt="EcoLife Logo"
            class="logo-img"
          />
          <span>EcoLife</span>
        </a>

        <div class="nav-toggle" id="navToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <ul class="nav-links" id="navLinks">
          <li><a href="index.html#home" class="nav-link">Home</a></li>
          <li><a href="index.html#about" class="nav-link">About</a></li>
          <li><a href="index.html#animal" class="nav-link">Animals</a></li>
          <li><a href="index.html#environment" class="nav-link">Environment</a></li>
          
          <!-- Dropdown for More Links -->
          <li class="nav-item-dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-trigger">More <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="index.html#quiz" class="dropdown-link"><i class="fa-solid fa-gamepad"></i> Kids Zone</a></li>
                <li><a href="index.html#report" class="dropdown-link"><i class="fa-solid fa-file-pen"></i> Report</a></li>
                <li><a href="index.html#contact" class="dropdown-link"><i class="fa-solid fa-envelope"></i> Contact</a></li>
            </ul>
          </li>

          <li class="nav-auth">
            <a href="pages/Login.html" class="btn-login" id="loginBtn">Login</a>
            <a href="pages/Signup.html" class="btn-signup" id="signupBtn">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
