/* Kids Quiz Section */
.kids-quiz-section {
    padding: 70px 20px;
    background-color: #97f0af;
    /* light green soft background */
}

.kids-quiz-content {
    max-width: 1100px;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Text Area */
.quiz-text {
    flex: 1;
    width: 100%;
    min-width: 300px;
    height: fit-content;
}

.quiz-text h2 {
    font-size: 36px;
    color: #2e8b57;
    margin-bottom: 15px;
}

.quiz-text p {
    font-size: 18px;
    color: #444;
    width: max(30vw,200px);
    margin-bottom: 25px;
    line-height: 1.5;
   
}
.quiz-zone{
    display: flex;
}

/* Button */
.quiz-btn {
    position: relative;
    top: -300px;
    text-decoration: none;
    width: fit-content;
    padding: 12px 25px;
    background-color: #ff9800;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.quiz-btn:hover,
.quiz-btn:focus-visible {
    background-color: #ffa726;
    transform: scale(1.05);
}

.quiz-btn:focus-visible {
    outline: 3px solid #ff9800;
    outline-offset: 4px;
}

/* Quiz Image */
.quiz-image {
    flex: 1;
    min-width: 400px;
    
}

.quiz-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    margin-left: 20%;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
    transition: transform 0.4s ease;
    position: relative;
    top: -50px;
    
}

/* Hover Zoom Effect */
.quiz-image img:hover {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
    .quiz-text h2 {
        font-size: 28px;
    }

    .quiz-text p {
        font-size: 16px;
    }
}

@media (max-width: 720px){
    .quiz-btn{
        top: 0px;
    }
    .quiz-image img{
        width: 300px;
        top: 0;
    }
    .quiz-zone{
        display: flex;
        width: fit-content;
    }

}

@media (max-width:560px){
    .quiz-image img{
        width: 200px;
    }
}
